<h1>Rails 6 mysql app</h1>

<ul>
  <li><%= link_to "Slow request", slow_path %></li>
  <li><%= link_to "Error request", error_path %></li>
  <li><%= link_to "Slow streaming request", streaming_slow_path %></li>
  <li><%= link_to "Streaming request with error", streaming_error_path %></li>
  <li><%= link_to "Posts: resources with queies", posts_path %></li>
</ul>
