<h1>Rails 7 postgresql app</h1>

<ul>
  <li><%= link_to "Slow request", slow_path %></li>
  <li><%= link_to "Error request", error_path %></li>
  <li><%= link_to "Slow streaming request", streaming_slow_path %></li>
  <li><%= link_to "Streaming request with error", streaming_error_path %></li>
  <li><%= link_to "Items: resources with queies", items_path %></li>
</ul>
