<h1>Requests</h1>

<p>Click on any of the links below perform a HTTP request that will be instrumented.</p>

<ul>
  <li><%= link_to "Excon HTTP GET", perform_excon_get_requests_path %></li>
  <li><%= link_to "Excon HTTP POST", perform_excon_post_requests_path %></li>
  <li><%= link_to "Excon HTTP PUT", perform_excon_put_requests_path %></li>
  <li><%= link_to "Excon HTTP DELETE", perform_excon_delete_requests_path %></li>
  <li><%= link_to "Excon HTTP HEAD", perform_excon_head_requests_path %></li>
  <li><%= link_to "Excon HTTP OPTIONS", perform_excon_options_requests_path %></li>
  <li><%= link_to "Excon HTTP TRACE", perform_excon_trace_requests_path %></li>
</ul>
