<h1>Queue Sidekiq workers now</h1>

<p>Default: <%= Rails.application.config.active_job.default_queue_name %></p>
<p>ActiveJob::Base.default_queue_name: <%= ActiveJob::Base.default_queue_name %></p>

<p>Click on any of the links below to queue a job for that Sidekiq worker.</p>

<ul>
  <% @worker_tests.each do |(_, worker, test)| %>
    <% name = "#{worker}#{" - #{test}" unless test == :default}" %>
    <li><%= link_to name, queue_workers_path(:worker => worker, :test => test) %></li>
  <% end %>
</ul>

<h1>Schedule Sidekiq workers in the future</h1>

<p>Click on any of the links below to queue a job for that Sidekiq worker.</p>
<p>The job will be queued 5 minutes into the future.</p>

<ul>
  <% @worker_tests.each do |(_, worker, test)| %>
    <% name = "#{worker}#{" - #{test}" unless test == :default}" %>
    <li><%= link_to name, queue_workers_path(:worker => worker, :test => test, :time => :future) %></li>
  <% end %>
</ul>

<h1>Sidekiq monitoring page</h1>

<ul>
  <li><%= link_to "Sidekiq monitor page", "/sidekiq" %></li>
</ul>
