<h1>Tests in this example app</h1>

<ul>
  <li><%= link_to "Slow request", slow_path %></li>
  <li><%= link_to "Request with error", error_path %></li>
  <li><%= link_to "Request with error cause", error_cause_path %></li>
  <li><%= link_to "Request with custom cause", custom_error_path %></li>
  <li><%= link_to "Error reporter test", error_reporter_path %></li>
  <li><%= link_to "Sidekiq workers", workers_path %></li>
</ul>
